# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/[Ll]ogs/
*/[Uu]ser[Ss]ettings/
*.bak
ExportedObj/

# ===================================== #
# Visual Studio / Rider / MonoDevelop generated #
# ===================================== #
*.csproj
*.sln
*.suo
*.userprefs
.idea/
.vscode/
*.blob
*.vsidx
*.bin
# ============ #
# OS generated #
# ============ #
.DS_Store
Thumbs.db

# ========== #
# Large Files #
# ========== #
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
